main {
  background: #fff;
  float: left;
  margin-bottom: $spacing-vertical;
  padding: $spacing-vertical $spacing-horizontal;
  width: 62%;
  border-radius: $border-radius;
    img {
      width: 100%;
      height: 300px;
      border-radius: $border-radius;
    }
}
