.side {
  $side-color-link:#fff;

  background:$color-text;
  color:$side-color-link;
  float:right;
  padding:$spacing-vertical 2%;
  width:24%;
  border-radius: $border-radius;

  &__heading:first-child {
    margin-top:0;
  }

  &__list {
    list-style:none;
    margin:0;
    padding:0;
    &__item__link:link, a:visited {
      color:$side-color-link;
    }
  }
}